<html>
<head>
<script src="http://js.pusher.com/2.2/pusher.min.js"></script>
<script type="text/javascript">
	 Pusher.log = function(message) {
      if (window.console && window.console.log) {
        window.console.log(message);
      }
    };
	var pusher = new Pusher('{{key}}');
	var channel = pusher.subscribe('{{ip}}');
	channel.bind('changecolor', function(data) {
		document.body.style.background = "#" + data.color
		document.getElementById("color").innerHTML = "Color of this ip : #" + data.color;
	});

</script>
</head>
<body bgcolor="#{{color}}">
	<h1>IP : {{ip}}</h1>
	<h2 id="color">Color of this ip : #{{color}}</h2>
</body>
</html>